.navbar a{
	font-size:2vh;
	margin-left:0%;
	margin-right:8%;
	float:right;
	color:black;
	font-weight:normal;
	text-decoration: none;
	display: inline-block;
	flex-direction: column;

}
.navbar a:hover { color:#ffbaed;
	font-weight: bold;}

	

.subtabs a {
	font-family: 'Roboto', sans-serif;
	font-size:1.5vh;
	margin-left:2%;
	margin-right:2%;
	top:absolute;
	padding-top:10%;
	float:left;
	color:black;
	text-decoration: none;
	display: inline-block;
	flex-direction: column;

}

.subtabs a:hover { color:#ffbaed;
	font-weight: bold;
		
	}



h1 {
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-weight:normal;
	font-size:7vh;
	color:white;
	padding-left:5%;
	margin-top:15%;
	padding-bottom:0%;
	
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:1.5vh;
	color:white;
	padding-left:6.5%;
	margin-top:-28px;
	
}

#home {
	background-color: black;
	background-image: url("images/yuna1.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
}
@media(max-width:800px){
	#home  {
		background-image: url("images/smallyuna.jpg")
	}
	#home h1 {
		padding-top:50%;
	}

.firsttext {
	padding-top:25%;
	margin-left:0;
	overflow: scroll;
}


	
	
}





.firsttext {
	line-height: 27px;
	color:black;
	display:inline-block;
	float:right;
	margin-right:5%;
	margin-left:45%;
	font-size:12pt;
	margin-top:-25%;
	font-family: 'Roboto', sans-serif;


}
h3 {
	font-family:'Playfair Display', serif;
	font-size:2.1vh;
	font-weight:normal;
	color:#cc58ae;
}

.About {
	font-family:'Playfair Display', serif;
	font-weight: none;
	font-size: 30pt;
	padding-top: 15%;
	padding-left:2%;
}
img {
	/*float:left;*/
	padding-right:0%;
	height:30%;
	width:40%;
	min-width:320px;
	min-height:100px;
	margin-top:4pt;
	margin-right:50%;
	margin-left:2%;
	display:inline-block;
	max-width:100%;

}
#gallery img {
/*	float:none;*/
margin:0;
width:auto;
height:50vh;
}

.homebar a{
	color:white;
}



.on a {
	font-family: 'Playfair display', serif;
	font-size:12pt;
	margin:none;
	margin-right:2%;
	top:absolute;
	padding-top:10%;
	float:left;
	color:black;
	text-decoration: none;
	display: inline-block;
	flex-direction: column;
	margin-left:1.5%;

}

.on a:hover { color:#ffbaed;
	font-weight: bold;
}

.off {
	position:relative;
	margin:10px;
}
.r {
	position: relative;
	float: left;
	display:inline-block;
}

.imagecontainer 
	
{
	float:left;
}